.scrollable-dropdown {
  max-height: 100px;
  overflow-y: auto;
}

.search-box input {
  border-radius: 4px;
  border: 1px solid #055993;
}

.table-theme th {
  background-color: #055993;
  color: white;
}

.table-theme tbody tr:hover {
  background-color: #e6f0ff;
}

.table-theme td, .table-theme th {
  vertical-align: middle;
}

/* src/styles/AttendanceHistory.css */
.current-session-row {
  background-color: #285d8e !important; /* light blue */
  font-weight: 600 !important;
}
